openapi: 3.0.3

info:
  title: Unit.Travel Partner Inventory API
  version: "1.0.0"
  description: >
    API интеграции инвенторной системы Unit.Travel с PMS и Channel Manager
    (напр. PMS Servio, Channel Manager YieldPlanet).

    Модель ARI (Availability, Rates, Inventory): партнёр (PMS/CM) ПУШИТ
    обновления наличия, цен и ограничений в Unit.Travel; Unit.Travel отдаёт
    бронирования обратно (pull через `/reservations` или push через webhook).

    Основные принципы:
      * Идемпотентность — каждое ARI-сообщение имеет `message_uid`, уникальный
        в рамках подключения; повтор с тем же `message_uid` не применяется
        повторно, а возвращает исходный результат.
      * Порядок / last-write-wins — у каждого элемента есть `revision`
        (монотонный счётчик/таймстамп источника); обновление применяется,
        только если `revision` не старше сохранённого.
      * Асинхронность — приём ARI отвечает `202 Accepted`; статус обработки
        опрашивается по `GET /ari/messages/{message_uid}`.
      * Коды — партнёр оперирует СВОИМИ кодами номеров/тарифов; соответствие
        нашим id задаётся один раз через `/mappings`.
  contact:
    name: Unit.Travel Integrations
    email: integrations@unit.travel

servers:
  - url: https://api.sandbox.unit.travel/partner/v1
    description: Sandbox (тестовое окружение)
  - url: https://api.unit.travel/partner/v1
    description: Production

security:
  - bearerAuth: []

tags:
  - name: System
    description: Проверка доступности
  - name: Onboarding
    description: Каталог номеров/тарифов и маппинг кодов
  - name: ARI
    description: Приём наличия, цен и ограничений (партнёр → Unit.Travel)
  - name: Reservations
    description: Выдача бронирований (Unit.Travel → партнёр)

paths:

  /ping:
    get:
      tags: [System]
      summary: Health-check и проверка авторизации
      responses:
        "200":
          description: Сервис доступен, токен валиден
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  server_time: { type: string, format: date-time }
                  connection_id: { type: integer, example: 42 }

  /properties/{property_id}/rooms:
    get:
      tags: [Onboarding]
      summary: Каталог категорий номеров Unit.Travel (для маппинга)
      parameters:
        - $ref: '#/components/parameters/PropertyId'
      responses:
        "200":
          description: Список категорий
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Room' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }

  /properties/{property_id}/rate-plans:
    get:
      tags: [Onboarding]
      summary: Каталог тарифных планов Unit.Travel (для маппинга)
      parameters:
        - $ref: '#/components/parameters/PropertyId'
      responses:
        "200":
          description: Список тарифов
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/RatePlan' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }

  /properties/{property_id}/mappings:
    get:
      tags: [Onboarding]
      summary: Текущие соответствия внешних кодов партнёра нашим id
      parameters:
        - $ref: '#/components/parameters/PropertyId'
      responses:
        "200":
          description: Список маппингов
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Mapping' }
    put:
      tags: [Onboarding]
      summary: Задать/обновить соответствия кодов (idempotent upsert)
      description: >
        Партнёр присылает соответствие СВОИХ кодов номеров/тарифов нашим
        `room_id` / `rate_plan_id`. Требуется до отправки ARI: элементы ARI с
        неизвестным кодом будут отклонены.
      parameters:
        - $ref: '#/components/parameters/PropertyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: { $ref: '#/components/schemas/Mapping' }
      responses:
        "200":
          description: Маппинги сохранены
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ack' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }

  /ari:
    post:
      tags: [ARI]
      summary: Приём ARI-обновления (наличие + цены + ограничения)
      description: >
        Единое батч-сообщение. Идемпотентно по `message_uid`. Отвечает
        `202 Accepted`; фактическое применение — асинхронно, статус по
        `GET /ari/messages/{message_uid}`.

        Можно прислать любые из массивов `availability` / `rates` /
        `restrictions` (хотя бы один непустой).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AriMessage' }
            examples:
              full:
                $ref: '#/components/examples/AriFull'
      responses:
        "202":
          description: Сообщение принято в обработку
          headers:
            Location:
              description: URL для опроса статуса
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AriAccepted' }
        "200":
          description: >
            Повтор с уже виденным `message_uid` — возвращается прежний
            результат без повторного применения (идемпотентность).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AriMessageStatus' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "422": { $ref: '#/components/responses/Unprocessable' }
        "429": { $ref: '#/components/responses/RateLimited' }

  /ari/messages/{message_uid}:
    get:
      tags: [ARI]
      summary: Статус обработки ARI-сообщения
      parameters:
        - name: message_uid
          in: path
          required: true
          schema: { type: string, maxLength: 120 }
      responses:
        "200":
          description: Статус
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AriMessageStatus' }
        "404": { $ref: '#/components/responses/NotFound' }

  /reservations:
    get:
      tags: [Reservations]
      summary: Выдача новых/изменённых/отменённых бронирований (pull)
      description: >
        Для PMS/CM, забирающих брони опросом. Постранично, по курсору.
        Альтернатива — webhook (см. README и `ReservationEvent`).
      parameters:
        - $ref: '#/components/parameters/PropertyId2'
        - name: since
          in: query
          description: Вернуть брони, изменённые с этого момента (ISO 8601)
          schema: { type: string, format: date-time }
        - name: status
          in: query
          schema:
            type: string
            enum: [new, modified, cancelled]
        - name: cursor
          in: query
          description: Курсор следующей страницы (из предыдущего ответа)
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 100, maximum: 500 }
      responses:
        "200":
          description: Страница бронирований
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReservationList' }
        "401": { $ref: '#/components/responses/Unauthorized' }

  /reservations/{reservation_id}/acknowledge:
    post:
      tags: [Reservations]
      summary: Подтвердить приём брони партнёром
      description: >
        После успешной загрузки брони в PMS/CM подтвердите её, чтобы она не
        повторялась в pull-выдаче. Для webhook подтверждением служит `200`.
      parameters:
        - name: reservation_id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Подтверждено
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ack' }
        "404": { $ref: '#/components/responses/NotFound' }

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >
        Bearer-токен (API-ключ) выдаётся Unit.Travel на КАЖДОЕ подключение
        (пара провайдер×объект). Передаётся заголовком
        `Authorization: Bearer <token>`. Опционально — IP-allowlist.

  parameters:
    PropertyId:
      name: property_id
      in: path
      required: true
      description: Идентификатор объекта размещения в Unit.Travel
      schema: { type: integer, format: int64 }
    PropertyId2:
      name: property_id
      in: query
      required: true
      schema: { type: integer, format: int64 }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: >
        Необязательный дубль `message_uid` из тела (если задан — должен
        совпадать). Обеспечивает идемпотентность на уровне транспорта.
      schema: { type: string, maxLength: 120 }

  responses:
    Unauthorized:
      description: Отсутствует/неверный токен
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Объект не найден
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BadRequest:
      description: Некорректный запрос (структура/валидация)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unprocessable:
      description: >
        Семантическая ошибка: неизвестный код номера/тарифа, некорректный
        диапазон дат, устаревший `revision` и т.п.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: Превышен лимит запросов
      headers:
        Retry-After:
          description: Через сколько секунд повторить
          schema: { type: integer }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          example: unknown_rate_plan_code
        message:
          type: string
          example: "rate_plan_code 'STD-BB' is not mapped for property 123"
        details:
          type: array
          items:
            type: object
            properties:
              path: { type: string, example: "rates[3].rate_plan_code" }
              reason: { type: string }

    Ack:
      type: object
      properties:
        status: { type: string, example: ok }

    Room:
      type: object
      description: Категория номера (единица инвентаря/наличия).
      properties:
        id: { type: integer, format: int64, example: 4500 }
        code: { type: string, example: "DLX" }
        name: { type: string, example: "Deluxe Room" }
        max_adults: { type: integer, example: 3 }
        max_children: { type: integer, example: 2 }
        max_infants: { type: integer, example: 1 }
        max_occupancy: { type: integer, example: 4 }

    RatePlan:
      type: object
      properties:
        id: { type: integer, format: int64, example: 13500 }
        code: { type: string, example: "STD-BB-FLEX" }
        name: { type: string, example: "Standard BB Flexible" }
        room_id: { type: integer, format: int64, example: 4500 }
        board: { type: string, enum: [RO, BB, HB, FB, AI], example: BB }
        currency: { type: string, example: "EUR" }
        is_refundable: { type: boolean, example: true }

    Mapping:
      type: object
      required: [entity_type, external_code, internal_id]
      properties:
        entity_type:
          type: string
          enum: [room, rate_plan]
        external_code:
          type: string
          description: Код на стороне партнёра (PMS/CM)
          example: "SRV-ROOM-01"
        internal_id:
          type: integer
          format: int64
          description: id номера/тарифа в Unit.Travel
          example: 4500

    AriMessage:
      type: object
      required: [message_uid, property_id]
      properties:
        message_uid:
          type: string
          maxLength: 120
          description: Уникальный id сообщения в рамках подключения (идемпотентность)
          example: "srv-2026-07-01T10:00:00-abc123"
        revision:
          type: integer
          format: int64
          description: >
            Монотонный счётчик/таймстамп источника для last-write-wins.
            Применяется, только если не старше сохранённого.
          example: 1719827400
        property_id:
          type: integer
          format: int64
          example: 123
        availability:
          type: array
          items: { $ref: '#/components/schemas/AvailabilityItem' }
        rates:
          type: array
          items: { $ref: '#/components/schemas/RateItem' }
        restrictions:
          type: array
          items: { $ref: '#/components/schemas/RestrictionItem' }

    AvailabilityItem:
      type: object
      required: [room_code, date_from, date_to, units]
      description: >
        Наличие («rooms to sell») на категорию номера. Хранится как аллотмент;
        фактическая доступность = units − наши подтверждённые брони.
      properties:
        room_code: { type: string, description: внешний код номера, example: "SRV-ROOM-01" }
        date_from: { type: string, format: date, example: "2026-07-01" }
        date_to:   { type: string, format: date, description: включительно, example: "2026-07-31" }
        days_of_week:
          $ref: '#/components/schemas/DaysOfWeek'
        units:
          type: integer
          minimum: 0
          description: Число номеров к продаже
          example: 5
        closed:
          type: boolean
          description: Полный stop-sell на категорию (перекрывает units)
          default: false

    RateItem:
      type: object
      required: [rate_plan_code, date_from, date_to, price, currency]
      description: >
        Цена БАЗОВОГО размещения по взрослым. Детские цены задаются отдельно
        (Child rates), в ARI не передаются.
      properties:
        rate_plan_code: { type: string, example: "STD-BB-FLEX" }
        occupancy:
          type: integer
          description: >
            Число взрослых, к которому относится цена. Если не задано —
            применяется к стандартному размещению тарифа.
          example: 2
        date_from: { type: string, format: date }
        date_to:   { type: string, format: date, description: включительно }
        days_of_week:
          $ref: '#/components/schemas/DaysOfWeek'
        price:
          type: number
          format: double
          description: Цена за ночь (нетто, без налогов/сборов)
          example: 120.00
        currency: { type: string, example: "EUR" }

    RestrictionItem:
      type: object
      required: [rate_plan_code, date_from, date_to]
      properties:
        rate_plan_code: { type: string, example: "STD-BB-FLEX" }
        date_from: { type: string, format: date }
        date_to:   { type: string, format: date, description: включительно }
        days_of_week:
          $ref: '#/components/schemas/DaysOfWeek'
        min_stay: { type: integer, minimum: 1, example: 2 }
        max_stay: { type: integer, description: "0 = без ограничения", example: 0 }
        closed_to_arrival:   { type: boolean, default: false }
        closed_to_departure: { type: boolean, default: false }
        stop_sell:           { type: boolean, default: false }
        min_advance_days:    { type: integer, minimum: 0, example: 0 }
        max_advance_days:    { type: integer, minimum: 0, description: "0 = нет", example: 0 }
        release_days:        { type: integer, minimum: 0, example: 0 }

    DaysOfWeek:
      type: array
      description: >
        Дни недели, на которые действует элемент. Если не задано — все дни.
      items:
        type: string
        enum: [MON, TUE, WED, THU, FRI, SAT, SUN]
      example: [MON, TUE, WED, THU, FRI]

    AriAccepted:
      type: object
      properties:
        message_uid: { type: string }
        status: { type: string, enum: [received], example: received }
        received_at: { type: string, format: date-time }

    AriMessageStatus:
      type: object
      properties:
        message_uid: { type: string }
        status:
          type: string
          enum: [received, processing, applied, failed, skipped]
        received_at: { type: string, format: date-time }
        processed_at: { type: string, format: date-time, nullable: true }
        applied_items: { type: integer, example: 62 }
        errors:
          type: array
          items: { $ref: '#/components/schemas/Error' }

    ReservationList:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Reservation' }
        next_cursor:
          type: string
          nullable: true
          description: Курсор следующей страницы; null — данных больше нет

    Reservation:
      type: object
      properties:
        reservation_id: { type: string, example: "UT-9F3A21" }
        property_id: { type: integer, format: int64, example: 123 }
        status:
          type: string
          enum: [new, modified, cancelled]
        created_at: { type: string, format: date-time }
        modified_at: { type: string, format: date-time }
        checkin: { type: string, format: date }
        checkout: { type: string, format: date }
        currency: { type: string, example: "EUR" }
        total_price: { type: number, format: double, example: 675.00 }
        channel: { type: string, example: "web" }
        rooms:
          type: array
          items:
            type: object
            properties:
              room_code: { type: string, description: внешний код (после маппинга), example: "SRV-ROOM-01" }
              rate_plan_code: { type: string, example: "STD-BB-FLEX" }
              occupancy:
                type: object
                properties:
                  adults: { type: integer, example: 2 }
                  children_ages:
                    type: array
                    items: { type: integer }
                    example: [6, 8]
                  infants: { type: integer, example: 0 }
              price: { type: number, format: double, example: 675.00 }
        guest:
          type: object
          properties:
            first_name: { type: string }
            last_name: { type: string }
            email: { type: string, format: email }
            country: { type: string, example: "UA" }

    ReservationEvent:
      type: object
      description: >
        Тело webhook-уведомления (Unit.Travel → endpoint партнёра).
        Подписывается заголовком `X-UnitTravel-Signature` (HMAC-SHA256).
      properties:
        event:
          type: string
          enum: [reservation.created, reservation.modified, reservation.cancelled]
        occurred_at: { type: string, format: date-time }
        reservation: { $ref: '#/components/schemas/Reservation' }

  examples:
    AriFull:
      summary: Наличие + цены + ограничения одним сообщением
      value:
        message_uid: "yp-2026-07-01T10:00:00Z-000187"
        revision: 1719827400
        property_id: 123
        availability:
          - room_code: "YP-DLX"
            date_from: "2026-07-01"
            date_to: "2026-07-31"
            units: 5
        rates:
          - rate_plan_code: "YP-DLX-BB"
            occupancy: 2
            date_from: "2026-07-01"
            date_to: "2026-07-31"
            price: 120.00
            currency: "EUR"
        restrictions:
          - rate_plan_code: "YP-DLX-BB"
            date_from: "2026-07-01"
            date_to: "2026-07-14"
            min_stay: 2
            closed_to_arrival: true
